@model FirstMVCApp.Models.Fish

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFreshWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFreshWater)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
